In [18]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

In [2]:
dfWeath = pd.read_csv("Weather.csv", delimiter="\t")
dfWeath.head()

,WeatherDate,ReportType,HourlyVisibility,HourlyDryBulbTempF,HourlyRelativeHumidity,HourlyPrecip,HourlyHeatIndex,DailyMaximumDryBulbTemp,DailyMinimumDryBulbTemp,DailyAverageDryBulbTemp,DailyAverageRelativeHumidity,DailySunrise,DailySunset,DailyPrecip,DailySnowfall,DailySnowDepth,DailyAverageWindSpeed,DailyAverageHeatIndex,isDark
0,2010-01-01 00:47:00,FM-15,10.0,54,47,0.0,90.86,70,51,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
1,2010-01-01 01:47:00,FM-15,10.0,53,51,0.0,93.28,70,51,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
2,2010-01-01 02:47:00,FM-15,10.0,53,48,0.0,92.75,70,51,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
3,2010-01-01 03:47:00,FM-15,10.0,53,48,0.0,92.75,70,51,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
4,2010-01-01 04:47:00,FM-15,10.0,52,53,0.0,95.42,70,51,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1

In [3]:
dfWeath["DateParsed"] = dfWeath["WeatherDate"].apply(parse)

In [4]:
dfCrime = pd.read_csv("CrimePartiallyCleaned.csv", delimiter='\t')
dfCrime.tail()

,ID,DateReported,DateOccurred,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,MOCodes,VictimAge,VictimSex,...,WeaponUsedCode,StatusCode,CrimeCode1,CrimeCode2,CrimeCode3,CrimeCode4,Address,CrossStreet,Location,UnemploymentRate
1660879,180204005,2018-01-01,2017-12-31,23:55:00,2,265,761,0602 0558 0448 0444 0334 0421 0344,19,M,...,207,IC,761,930,-1,-1,800 S WESTLAKE AV,NaN,"(34.0544, -118.2767)",4.2
1660880,180204087,2018-01-01,2017-12-31,23:55:00,2,265,210,0342 0370 0344 0377 0432,54,M,...,500,IC,210,-1,-1,-1,JAMES M WOOD,WESTLAKE,"(34.0529, -118.2776)",4.2
1660881,180504036,2018-01-01,2017-12-31,23:55:00,5,551,350,2000 0429 1813,36,F,...,400,IC,350,626,-1,-1,1100 W SEPULVEDA ST,NaN,"(33.7457, -118.3005)",4.2
1660882,170626388,2018-01-01,2017-12-31,23:55:00,6,646,624,0400 0444,24,M,...,400,IC,624,-1,-1,-1,6500 W SUNSET BL,NaN,"(34.0987, -118.3337)",4.2
1660883,180904171,2018-01-04,2017-12-31,23:59:00,9,943,740,0329,24,M,...,-1,IC,740,-1,-1,-1,14100 OXNARD ST,NaN,"(34.1794, -118.44)",4.2

In [6]:
dateTimeStr = dfCrime["DateOccurred"] + ' ' + dfCrime["TimeOccurred"]
dfCrime["DateTimeParsed"] = dateTimeStr.apply(parse)

In [7]:
dfCrime.head()

,ID,DateReported,DateOccurred,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,MOCodes,VictimAge,VictimSex,...,StatusCode,CrimeCode1,CrimeCode2,CrimeCode3,CrimeCode4,Address,CrossStreet,Location,UnemploymentRate,DateTimeParsed
0,180204779,2018-01-17,2010-01-01,00:01:00,2,245,813,0510 0522 0558 1258 0602,-1,F,...,IC,813,-1,-1,-1,500 S PARK VIEW ST,NaN,"(34.0632, -118.2771)",12.8,2010-01-01 00:01:00
1,172020383,2017-11-12,2010-01-01,00:01:00,20,2074,354,0100,51,F,...,IC,354,-1,-1,-1,2100 CAMBRIDGE ST,NaN,"(34.0446, -118.3025)",12.8,2010-01-01 00:01:00
2,171913109,2017-06-13,2010-01-01,00:01:00,19,1994,354,0377 1822,42,F,...,IC,354,-1,-1,-1,14800 BLYTHE ST,NaN,"(34.2152, -118.4553)",12.8,2010-01-01 00:01:00
3,172013071,2017-06-28,2010-01-01,00:01:00,20,2025,820,1257 0550,-1,F,...,IC,812,820,-1,-1,MARIPOSA AV,3RD ST,"(34.069, -118.2992)",12.8,2010-01-01 00:01:00
4,171809308,2017-04-05,2010-01-01,00:01:00,18,1891,760,0515 0913 1817 1820 0516 0500 0506,18,F,...,AA,760,-1,-1,-1,16500 DENVER AV,NaN,"(33.8818, -118.2837)",12.8,2010-01-01 00:01:00

In [8]:
# Loop through the rows of crimes.
# Start at the first weather entry
# Check the next weather entry date to see if it is closer to the crime date
# If it is, check the next weather date, etc...
# Once the closest weather date is found, add it to the end of the row
dfCrime.tail()

,ID,DateReported,DateOccurred,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,MOCodes,VictimAge,VictimSex,...,StatusCode,CrimeCode1,CrimeCode2,CrimeCode3,CrimeCode4,Address,CrossStreet,Location,UnemploymentRate,DateTimeParsed
1660879,180204005,2018-01-01,2017-12-31,23:55:00,2,265,761,0602 0558 0448 0444 0334 0421 0344,19,M,...,IC,761,930,-1,-1,800 S WESTLAKE AV,NaN,"(34.0544, -118.2767)",4.2,2017-12-31 23:55:00
1660880,180204087,2018-01-01,2017-12-31,23:55:00,2,265,210,0342 0370 0344 0377 0432,54,M,...,IC,210,-1,-1,-1,JAMES M WOOD,WESTLAKE,"(34.0529, -118.2776)",4.2,2017-12-31 23:55:00
1660881,180504036,2018-01-01,2017-12-31,23:55:00,5,551,350,2000 0429 1813,36,F,...,IC,350,626,-1,-1,1100 W SEPULVEDA ST,NaN,"(33.7457, -118.3005)",4.2,2017-12-31 23:55:00
1660882,170626388,2018-01-01,2017-12-31,23:55:00,6,646,624,0400 0444,24,M,...,IC,624,-1,-1,-1,6500 W SUNSET BL,NaN,"(34.0987, -118.3337)",4.2,2017-12-31 23:55:00
1660883,180904171,2018-01-04,2017-12-31,23:59:00,9,943,740,0329,24,M,...,IC,740,-1,-1,-1,14100 OXNARD ST,NaN,"(34.1794, -118.44)",4.2,2017-12-31 23:59:00

In [9]:
dfWeath.tail()

,WeatherDate,ReportType,HourlyVisibility,HourlyDryBulbTempF,HourlyRelativeHumidity,HourlyPrecip,HourlyHeatIndex,DailyMaximumDryBulbTemp,DailyMinimumDryBulbTemp,DailyAverageDryBulbTemp,DailyAverageRelativeHumidity,DailySunrise,DailySunset,DailyPrecip,DailySnowfall,DailySnowDepth,DailyAverageWindSpeed,DailyAverageHeatIndex,isDark,DateParsed
86608,2017-12-31 20:47:00,FM-15,2.50,54,90,0.0,73.39,69,49,59,-1,06:59:00,16:55:00,0.0,0.0,0.0,0.3,999.0,1,2017-12-31 20:47:00
86609,2017-12-31 21:47:00,FM-15,2.50,54,90,0.0,73.39,69,49,59,-1,06:59:00,16:55:00,0.0,0.0,0.0,0.3,999.0,1,2017-12-31 21:47:00
86610,2017-12-31 22:47:00,FM-15,2.00,53,93,0.0,71.98,69,49,59,-1,06:59:00,16:55:00,0.0,0.0,0.0,0.3,999.0,1,2017-12-31 22:47:00
86611,2017-12-31 23:23:00,FM-16,1.75,53,93,0.0,71.98,69,49,59,-1,06:59:00,16:55:00,0.0,0.0,0.0,0.3,999.0,1,2017-12-31 23:23:00
86612,2017-12-31 23:47:00,FM-15,1.75,53,93,0.0,71.98,69,49,59,-1,06:59:00,16:55:00,0.0,0.0,0.0,0.3,999.0,1,2017-12-31 23:47:00

In [32]:
weatherKeys = list(dfWeath)
targetKeys = weatherKeys[:len(weatherKeys)-1]
targetKeys

['WeatherDate',
 'ReportType',
 'HourlyVisibility',
 'HourlyDryBulbTempF',
 'HourlyRelativeHumidity',
 'HourlyPrecip',
 'HourlyHeatIndex',
 'DailyMaximumDryBulbTemp',
 'DailyMinimumDryBulbTemp',
 'DailyAverageDryBulbTemp',
 'DailyAverageRelativeHumidity',
 'DailySunrise',
 'DailySunset',
 'DailyPrecip',
 'DailySnowfall',
 'DailySnowDepth',
 'DailyAverageWindSpeed',
 'DailyAverageHeatIndex',
 'isDark']

In [19]:
emptySeries = pd.Series([np.nan for i in range(len(dfCrime)-1)])

In [33]:
for key in targetKeys:
    dfCrime[key] = emptySeries

In [30]:
weatherIndex = 0
for i, row in dfCrime.iterrows():
    crimeTime = dfCrime["DateTimeParsed"]
    '''
    weatherTime = dfWeath.iloc[weatherIndex]["DateParsed"]
    if df.iloc[weatherIndex + 1] <= currentTime:
        weatherTime = dfWeath.iloc[weatherIndex + 1]
        while weatherTime <= currentTime:
            weatherIndex += 1
            weatherTime = dfWeath.iloc[weatherIndex]
    '''    
i, row = next(dfWeath.iterrows())
print(i)
print(type(row))

0
<class 'pandas.core.series.Series'>

In [ ]:
"""
Check the next weather date. If it is after the current date, exit and use the previous weather date
"""